<div class="container-fluid pt-3">
  <h5 class="border-bottom">New Windows Service Alert</h5>
  <div class="container" class="was-validated">
    <form [formGroup]="newWindowsServiceAlertForm" novalidate (ngSubmit)="submitForm(newWindowsServiceAlertForm.value)">
      <div class="form-group">
        <label for="exampleFormControlSelect1">Machine</label>
        <select class="form-control" [formControl]="newWindowsServiceAlertForm.controls['machineId']" [(ngModel)]="selectedMachineId"
          (change)="onChange()" required>
          <option *ngFor="let machine of machines" [value]="machine._id">{{machine.name}}</option>
        </select>
      </div>
      <div class="form-group" *ngIf="selectedMachine">
        <label for="exampleFormControlSelect1">Service</label>
        <select class="form-control" [formControl]="newWindowsServiceAlertForm.controls['item']" required>
          <option *ngFor="let service of selectedMachine.services" [value]="service.displayName">{{service.displayName}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="exampleFormControlSelect1">Priority</label>
        <select class="form-control" [formControl]="newWindowsServiceAlertForm.controls['priority']" required>
          <option value="Low">Low</option>
          <option value="Medium">Medium</option>
          <option value="High">High</option>
          <option value="Urgent">Urgent</option>
        </select>
      </div>
      <div class="form-group">
        <label for="exampleFormControlSelect2">Integrations</label>
        <select multiple class="form-control" [formControl]="newWindowsServiceAlertForm.controls['integrations']" required>
          <option *ngFor="let integration of integrations" [value]="integration._id">{{integration.name}}</option>
        </select>
      </div>
      <button type="Start" class="btn btn-success" [disabled]="!newWindowsServiceAlertForm.valid">Submit</button>
    </form>
  </div>
</div>