<div class="container-fluid pt-3">
  <table class="table table-bordered table-hover table-sm">
    <thead class="thead-light">
      <tr>
        <th>Alert Name</th>
        <th>Priority</th>
        <th>Last Occurrence</th>
      </tr>
    </thead>
    <tbody>
      <tr [ngClass]="runThis(alert)" *ngFor="let alert of alerts">
        <td>
          <a [routerLink]="['/alerts', alert._id ]" class="text-dark">{{alert.name}}</a>
        </td>
        <td>
            {{alert.priority}}
          </td>
        <td>
          {{alert.lastOccurred | date:'medium'}}
        </td>
      </tr>
    </tbody>
  </table>
</div>