<div class="container-fluid pt-3">
  <table class="table table-bordered table-hover table-sm">
    <thead class="thead-light">
      <tr>
        <th>Alert Name</th>
        <th>Date Raised</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let alert of alerts">
        <td>
          <a [routerLink]="['/alerts', alert._id ]" class="text-dark">{{alert.name}}</a>
        </td>
        <td>
          {{alert.dateRaised | date:'medium'}}
        </td>
      </tr>
    </tbody>
  </table>
</div>