<div class="container-fluid pt-3">
  <table class="table table-bordered table-hover table-sm">
    <thead class="thead-light">
      <tr>
        <th>Name</th>
        <th>Start Date</th>
        <th>Status</th>
        <th>Type</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let job of jobs">
        <td><a [routerLink]="['/jobs', job._id]" class="text-dark">{{job.name}}</a></td>
        <td>{{job.dateAdded | date:'medium'}}</td>
        <td>{{job.status}}</td>
        <td>{{job.type}}</td>
      </tr>
    </tbody>
  </table>
</div>