<div class="container-fluid pt-3">
  <h5 class="border-bottom">New Credential</h5>
  <div class="container" class="was-validated">
    <form [formGroup]="newCredentialForm" novalidate (ngSubmit)="submitForm(newCredentialForm.value)">
        <div class="form-group">
            <label for="exampleFormControlSelect1">Credential Name</label>
            <input class="form-control" [formControl]="newCredentialForm.controls['credentialName']" type="text" required>
          </div>
      <div class="form-group">
        <label for="exampleFormControlSelect1">Username</label>
        <input class="form-control" [formControl]="newCredentialForm.controls['username']" type="text" required>
      </div>
      <div class="form-group">
        <label for="exampleFormControlSelect1">Password</label>
        <input class="form-control" [formControl]="newCredentialForm.controls['password']" type="password" required>
      </div>
      <button type="Start" class="btn btn-success" [disabled]="!newCredentialForm.valid">Submit</button>
    </form>
  </div>
</div>