<div class="container-fluid">
  <h2>
    Add new application
  </h2>
  <div class="container" class="was-validated">
    <form [formGroup]="newApplicationForm" novalidate (ngSubmit)="submitForm(newApplicationForm.value)">
      <div class="form-group">
        <label for="exampleFormControlSelect1">Name</label>
        <input class="form-control" [formControl]="newApplicationForm.controls['name']" type="text" required>
        <label for="exampleFormControlSelect1">Choco Install Name</label>
        <input class="form-control" [formControl]="newApplicationForm.controls['chocoInstallName']" type="text" required>
      </div>
      <button type="Start" class="btn btn-primary" [disabled]="!newApplicationForm.valid">Submit</button>
    </form>
  </div>
</div>