<div class="container-fluid pt-3" *ngIf="job">
  <table class="table table-bordered table-hover table-sm">
    <tbody>
      <tr>
        <th>Name</th>
        <td>{{job.name}}</td>
      </tr>
      <tr>
        <th>Type</th>
        <td>{{job.type}}</td>
      </tr>
      <tr *ngIf="job.application">
        <th>Application</th>
        <td>{{job.application}}</td>
      </tr>
      <tr *ngIf="job.script">
        <th>Script</th>
        <td>{{job.script}}</td>
      </tr>
      <tr>
        <th>Deployed To</th>
        <td>{{job.machine}}</td>
      </tr>
      <tr>
        <th>Date Added</th>
        <td>{{job.dateAdded | date:'medium'}}</td>
      </tr>
      <tr *ngIf="job.finishDate">
        <th>Finish Date</th>
        <td>{{job.finishDate | date:'medium'}}</td>
      </tr>
      <tr [ngClass]="class()">
        <th>Status</th>
        <td>{{job.status}}</td>
      </tr>
      <tr *ngIf="job.output">
        <th>Output</th>
        <td style="white-space:pre-wrap; word-wrap:break-word">{{job.output}}</td>
      </tr>
    </tbody>
  </table>
  <button type="button" class="btn btn-secondary btn-space" (click)="delete()">Delete</button>
</div>