<div class="container-fluid pt-3">
  <table class="table table-bordered table-hover table-sm">
    <thead class="thead-light">
      <tr>
        <th>Name</th>
        <th>Choco Install Name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let application of applications">
        <td>
          <a [routerLink]="['/applications', application._id ]" class="text-dark">{{application.name}}</a>
        </td>
        <td>{{application.chocoInstallName}}</td>
      </tr>
    </tbody>
  </table>
</div>