<div class="container-fluid pt-3">
<h5 class="border-bottom">New Machine</h5>
<div class="container" class="was-validated">
  <form [formGroup]="newMachineForm" novalidate (ngSubmit)="submitForm(newMachineForm.value)">
    <div class="form-group">
      <label for="exampleFormControlSelect1">IP Address</label>
      <input class="form-control" [formControl]="newMachineForm.controls['ipAddress']" type="text" required>
    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect1">Credential</label>
      <select class="form-control" [formControl]="newMachineForm.controls['credential']" required>
        <option *ngFor="let credential of credentials" [value]="credential._id">{{credential.credentialName}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect1">Polling Cycle (minutes)</label>
      <select class="form-control" [formControl]="newMachineForm.controls['pollingCycle']" required>
        <option value="1">1</option>
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="15">15</option>
        <option value="30">30</option>
        <option value="60">60</option>
      </select>
    </div>
    <button type="Start" class="btn btn-success" [disabled]="!newMachineForm.valid">Submit</button>
  </form>
</div>
</div>