<nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #2b3e50;">
  <a class="navbar-brand" [routerLink]="['/dashboard']">pwshMgr</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
      </li>
      <li dropdown class="nav-item dropdown" *ngIf="userIsAuthenticated">
        <a href id="basic-link" class="nav-link dropdown-toggle" dropdownToggle (click)="false" aria-controls="basic-link-dropdown">Machines</a>
        <div *dropdownMenu id="basic-link-dropdown" aria-labelledby="basic-link" class="dropdown-menu">
          <a class="dropdown-item" [routerLink]="['/machines']">All Machines</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" [routerLink]="['/machines/new']">New Machine</a>
        </div>
      </li>
      <li dropdown class="nav-item dropdown" *ngIf="userIsAuthenticated">
        <a href id="basic-link" class="nav-link dropdown-toggle" dropdownToggle (click)="false" aria-controls="basic-link-dropdown">Credentials</a>
        <div *dropdownMenu id="basic-link-dropdown" aria-labelledby="basic-link" class="dropdown-menu">
          <a class="dropdown-item" [routerLink]="['/credentials']">All Credentials</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" [routerLink]="['/credentials/new']">New Credential</a>
        </div>
      </li>
      <li dropdown class="nav-item dropdown" *ngIf="userIsAuthenticated">
        <a href id="basic-link" class="nav-link dropdown-toggle" dropdownToggle (click)="false" aria-controls="basic-link-dropdown">Jobs</a>
        <div *dropdownMenu id="basic-link-dropdown" aria-labelledby="basic-link" class="dropdown-menu">
          <a class="dropdown-item" [routerLink]="['/jobs']">All Jobs</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" [routerLink]="['/jobs/new']">Run Choco Install</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" [routerLink]="['/jobs/new/script']">Run Script</a>
        </div>
      </li>
      <li dropdown class="nav-item dropdown" *ngIf="userIsAuthenticated">
        <a href id="basic-link" class="nav-link dropdown-toggle" dropdownToggle (click)="false" aria-controls="basic-link-dropdown">Applications</a>
        <div *dropdownMenu id="basic-link-dropdown" aria-labelledby="basic-link" class="dropdown-menu">
          <a class="dropdown-item" [routerLink]="['/applications']">All Applications</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" [routerLink]="['/applications/new']">New Application</a>
        </div>
      </li>
      <li dropdown class="nav-item dropdown" *ngIf="userIsAuthenticated">
        <a href id="basic-link" class="nav-link dropdown-toggle" dropdownToggle (click)="false" aria-controls="basic-link-dropdown">Scripts</a>
        <div *dropdownMenu id="basic-link-dropdown" aria-labelledby="basic-link" class="dropdown-menu">
          <a class="dropdown-item" [routerLink]="['/scripts']">All Scripts</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" [routerLink]="['/scripts/new']">New Script</a>
        </div>
      </li>
      <li dropdown class="nav-item dropdown" *ngIf="userIsAuthenticated">
        <a href id="basic-link" class="nav-link dropdown-toggle" dropdownToggle (click)="false" aria-controls="basic-link-dropdown">Alerts</a>
        <div *dropdownMenu id="basic-link-dropdown" aria-labelledby="basic-link" class="dropdown-menu">
          <a class="dropdown-item" [routerLink]="['/alerts']">All Active Alerts</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" [routerLink]="['/alertpolicies']">All Alert Policies</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" [routerLink]="['/alerts/new-disk-space']">New Disk Space Alert Policy</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" [routerLink]="['/alerts/new-windows-service']">New Windows Service Alert Policy</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" [routerLink]="['/alerts/new/process']">New Process Alert Policy</a>
        </div>
      </li>
      <li dropdown class="nav-item dropdown" *ngIf="userIsAuthenticated">
        <a href id="basic-link" class="nav-link dropdown-toggle" dropdownToggle (click)="false" aria-controls="basic-link-dropdown">Integrations</a>
        <div *dropdownMenu id="basic-link-dropdown" aria-labelledby="basic-link" class="dropdown-menu">
          <a class="dropdown-item" [routerLink]="['/integrations']">All Integrations</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" [routerLink]="['/integrations/new-slack']">New Slack Integration</a>
        </div>
      </li>
      <li *ngIf="!userIsAuthenticated">
        <a class="nav-link" [routerLink]="['/login']">Login</a>
      </li>
      <li *ngIf="userIsAuthenticated">
        <a class="nav-link" (click)="onLogout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>