<div class="container-fluid pt-3">
  <table class="table table-bordered table-hover table-sm">
    <thead class="thead-light">
      <tr>
          <th>Credential Name</th>
        <th>Username</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let credential of credentials">
          <td>
              <a [routerLink]="['/credentials', credential._id ]" class="text-dark">{{credential.credentialName}}</a>
              
            </td>
        <td>
            {{credential.username}}
        </td>

      </tr>
    </tbody>
  </table>
</div>